@use "sass:map";
@use './sizes' as sizes;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@font-face {
  font-family: 'canada-type-gibson';
  src: url('/assets/fonts/canada-type-gibson.woff2') format('woff2'),
       url('/assets/fonts/canada-type-gibson.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'canada-type-gibson';
  src: url('/assets/fonts/canada-type-gibson-bold.woff2') format('woff2'),
       url('/assets/fonts/canada-type-gibson-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

$font-family: (
  heading: ('DM Sans', sans-serif),
  body: ('canada-type-gibson', arial, helvetica, sans-serif)
);

@mixin fluid-type-preset($name) {
  $preset: map.get($typography, $name);
  font-size: clamp(
    map.get($preset, min),
    map.get($preset, vw),
    map.get($preset, max)
  );
}

$typography: (
  h1-header: (min: 2.75rem, vw: 5vw, max: 4.5rem),
  h2-header: (min: 2.25rem,  vw: 4vw,   max: 3.625rem),
  h3-title: (min: 1.75rem,  vw: 3.5vw, max: 2.625rem),
  h5-lead: (min: 1.125rem, vw: 2vw,   max: 1.375rem),
  paragraph: (min: 1rem, vw: 1.5vw, max: 1.125rem), 
);

.h1-header {
  @include fluid-type-preset(h1-header);
  font-weight: map-get(sizes.$font-weight, large);
  line-height: 80px;
  letter-spacing: -1.5px;
}

.h2-header {
  @include fluid-type-preset(h2-header);
  font-weight: map-get(sizes.$font-weight, large);
  line-height: 70px;
  letter-spacing: -1px;
}

.h3-title {
  @include fluid-type-preset(h3-title);
  font-weight: map-get(sizes.$font-weight, medium); 
  line-height: 50px; 
  letter-spacing: -0.5px; 
}

.h5-lead {
  @include fluid-type-preset(h5-lead);
  font-weight: map-get(sizes.$font-weight, medium);
  line-height: 35px;
  letter-spacing: -0.25px;
}

.paragraph {
  @include fluid-type-preset(paragraph);
  line-height: 1.6;
  letter-spacing: 0; 
}