@use "sass:map";
@use './abstracts/index' as ui;

// ==============================
// Reset & Base
// ==============================

#root {
  margin: 0 auto;
  text-align: center;
}
 
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body {
  height: 100%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5;
}

body {
  position: relative;
  font-family: map.get(ui.$font-family, body);
  font-weight: 400;
  line-height: 1.7;
  background-color: ui.$white;
  color: ui.$text;
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
 cursor: pointer;
}

// $container-padding: clamp(1rem, 9vw, 4rem);

// .container {
//   margin-inline: auto;
//   width: 100%;

//   padding-inline: $container-padding;
//   padding-top: clamp(0.5rem, 4vw, 2rem);
//   padding-bottom: clamp(0.5rem, 4vw, 2rem);

//   @include ui.respond(md) {
//     padding-inline: clamp(2rem, 8vw, 3rem);
//     padding-top: clamp(1rem, 3vw, 1.5rem);
//     padding-bottom: clamp(1rem, 3vw, 1.5rem);
//   }

//   @include ui.respond(lg) {
//     padding-inline: clamp(3rem, 7vw, 4rem);
//     padding-top: clamp(1rem, 2vw, 1.5rem);
//     padding-bottom: clamp(1rem, 2vw, 1.5rem);
//   }

//   @include ui.responsive-max-width((
//     md: (40rem, 60vw, ui.$viewport-md), 
//     lg: (48rem, 70vw, ui.$viewport-lg),
//     xl: (64rem, 80vw, ui.$viewport-xl)
//   ));
// }

$container-padding: clamp(1rem, 9vw, 4rem);

.container {
  margin-inline: auto;
  width: 100%;
  padding-inline: $container-padding;
  padding-top: clamp(0.5rem, 4vw, 2rem);
  padding-bottom: clamp(0.5rem, 4vw, 2rem);

  @include ui.respond(md) {
    padding-inline: clamp(2rem, 8vw, 3rem);
    padding-top: clamp(1rem, 3vw, 1.5rem);
    padding-bottom: clamp(1rem, 3vw, 1.5rem);
  }

  @include ui.respond(lg) {
    padding-inline: clamp(3rem, 7vw, 4rem);
    padding-top: clamp(1rem, 2vw, 1.5rem);
    padding-bottom: clamp(1rem, 2vw, 1.5rem);
  }

  @include ui.responsive-max-width((
    md: (50rem, 70vw, ui.$viewport-md),  
    lg: (64rem, 80vw, ui.$viewport-lg), 
    xl: (80rem, 90vw, ui.$viewport-xl)  
  ));
}