@use './abstracts/index' as *;

.header {
  position: relative;
  width: 100%;
  padding-block: 1.5rem;
  border-bottom: 2px solid $text-light;

  &__mobile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2000;
    background-color: $header-background;
    @include respond(md, lg, xl) {
      display: none;
    }
  }
}

@media (min-width: $viewport-md) {
  .header {
    padding-block: 0.8rem;
    padding-inline: clamp(1.5rem, 5vw, 4.875rem);
  }
}

@media (min-width: $viewport-lg) {
  .header {
    padding-block: 1rem;
    padding-inline: clamp(4.875rem, 6vw, 10.125rem);
  }
}

.burger-menu {
  @include flexAbsoluteCenter;
  border: none;
  cursor: pointer;
  padding: 8px;
  background-color: transparent;
  svg {
   color: $white;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(100%);

  &.open {
    transform: translateX(0%);
    transition: transform 1.5s linear;
    justify-content: center;
    background-color: $white;
    z-index: 1000;
  }

  @include respond(md, lg, xl) {
    position: relative;
    display: flex;
    justify-content: space-between;
    transform: none;
  }
}

.logo {
  display: none;
  @include respond(md) {
    display: block;
    font-weight: 700;
    font-size: map-get($font-size, extra-large);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 10rem;
  
  @include respond(md, lg, xl) {
    align-items: center;
    display: flex;
    margin-left: auto;
    flex-direction: row;
    height: auto;
    padding-top: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $spacing-400;
   
    @include respond(md, lg, xl) {
      flex-direction: row;
      gap: $spacing-700;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    color: $text-light;
    font-weight: map-get($font-weight, medium);
    transition: color 0.3s;
    border: none;
    background: transparent;
    @include respond(md, lg, xl) {
      font-size: map-get($font-size, normal);
    }
    &:hover {
      color: darken($text-light, 15%);
    }
  }
}

.submenu {
  position: absolute;
  left: 0;
  top: 3rem;
  @include respond(md) {
    top:0;
  }
  width: 100%;
  background-color: $white;
  font-size: map-get($font-size, extra-small);
  font-weight: map-get($font-weight, large);
  border: 2px solid $text-light;
  border-left: none;
  z-index: 100;
  padding: 0; 
  text-align: left;
  display: flex;
  align-items: start;
  transform: translateY(100);
  z-index: 100;
  @include respond(md) {
    width: 90%;
    height: 50%;
    display: grid;
    grid-template-columns: 5% 1fr;
    gap: 20px; 
  }

  &__item {
  //   padding: 10px;
  }

  &__link {
    color: $text;
     padding: 10px;
     display: flex;
    // display: block;
    &:hover {
      background-color: $grey-light-50;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @include respond(md) {
     grid-template-columns: repeat(3, 1fr); 
    }
  }

  &__nested-list {
    font-weight: map-get($font-weight, medium);
  }

  &__close {
    grid-row: 1 / -1; 
    align-self: start;
    background-color: transparent;
    border: none;
    margin-top: 10px;
  }
}


